

body {
    background-image: url("./weather-background-image.jpg");
    background-color: #ffffff;
}

.topHeader {
font-size: 40px;
margin: auto;
}

.d-none {
    display:none;
}

.fair {
background-color: green;
}

.severe {
background-color: red;
}

.five-day p{
margin-bottom: 0px;
padding: 0px;
}
