

body {
    background-image: url("./weather-background-image.jpg");
    background-color: #ffffff;
}


.topHeader {
font-size: 40px;
margin: auto;
}

.container {
display:none;
}

.fair {
background-color: green;
}

.severe {
background-color: red;
}
