

body {
    background-image: url("./weather-background-image.jpg");
    background-color: #ffffff;
}


.topHeader {
font-size: 40px;
margin: auto;
color: #74D5DD;
}

/* .stored-cities {
    width: 20px;
} */


